VITE_SUPABASE_URL=https://rvogprcpodrrqvvmlwxj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2b2dwcmNwb2RycnF2dm1sd3hqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5NjE3NTEsImV4cCI6MjA5OTUzNzc1MX0.yY6NlUqYt1CyniIs1VvAt62EH6tdiK3enMN2MK1E3hY
